<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section style="background-color: #FFEFEF;" th:fragment="section">
            <div style="padding-top: 50px;">
                <figure style="text-align: center; margin: 0; border: none;">
                    <div style="display: inline-block;">
                        <iframe width="1540" height="570" src="https://www.youtube.com/embed/1OX7BcPeG_s"
                                title="Anasovi ha ayudado a más de 500 pacientes con cáncer" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen style="margin: 0 auto;"></iframe>
                    </div>
                </figure>

            </div>
        </section>
        <main th:fragment="main" style="display: flex; background-color: #FFEFEF">


            <aside style="width: 70%; margin-left: 180px; ">
                <!-- Contenido del aside aquí -->
                <h3 style="margin: 20px 0"> ¿Quiénes somos y que estamos haciendo?</h3>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 10px 0;">
                    <h4>Misión de nuestra página</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitation ullamco laboris nisi orem ipsum dolor
                        sit amet, consectetur adipiscing elitation ullamco laboris nisiorem ipsum dolor sit amet,
                        consectetur adipiscing elitation ullamco laboris nisiorem ipsum dolor sit amet, consectetur
                        adipiscing elitation ullamco laboris nisi</p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>Visión de nuestra página</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitation ullamco laboris nisi </p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>Nuestro objetivo</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitation ullamco laboris nisi </p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>Patologías que tratamos</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitation ullamco laboris nisi </p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>Nuestros servicios</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitation ullamco laboris nisi </p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>Cobertura</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitation ullamco laboris nisi </p>
                </div>
                <div style="background-color: white; border-radius: 20px; padding: 20px; margin: 20px 0;">
                    <h4>Servicios para pacientes</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitation ullamco laboris nisi </p>
                </div>
            </aside>
            <aside style="width: 25%; margin-right: 180px;">
                <h3 style="margin: 20px 0"> Nuestros servicios </h3>
            </aside>
        </main>


    </body>
</html>
